.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 2px 3px;
margin: 0px;
border: 2px solid white;
color: white;
background-color: var(--main-bg-color);
border-radius: 6px;
cursor: pointer;
}
.my-2{
    margin: 20px 12px;
}
.text-center{
    align-items: center;
}
.my-1{
    margin: 5px 0;
    padding: 0 0 0 18px;
}